*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 0.32rem;
}
#nav{
    display: flex;
    background: #06c1ae;
}
.nav-add{
    width:1.67rem;
    height:1.01rem;
    line-height: 1.01rem;
    text-align: center;
    color:#fff;
    margin-left:.02rem;
}
.nav-mine{
    width:0.94rem;
    height:1.01rem;
    /* line-height: 1.01rem; */
    text-align: center;
    color:#fff;
    padding-top:0.20rem;
}
.nav-mine p{
    font-size:0.21rem;
}
.nav-search{
    flex:1;
    height:0.64rem;
    background: #00a494;
    border: none;
    outline: none;
    border-radius: 5px;
    color:#68dbce;
    margin-top:0.2rem;
    position: relative;
}
.nav-search-content{
    position: absolute;
    margin-top:0.06rem;
    margin-left:0.32rem;
}
.nav-left{
    position: absolute;
    margin-top:0.10rem;
}
.zhuimg{
    width:7.5rem;
    height:2.2rem;
}
.box1{
    
    display:flex;
    
    flex-wrap: wrap;
    list-style: none;
  
}
.box1 li{
    width:20%;
}
.box1 li .list-img{
    text-align: center;
    color: #00a494;
    border-radius: 50%;
    margin:0 auto;
    font-size:0.8rem;
}
.box1 p{
    text-align: center;
    color:#666;
    font-size:0.24rem;
}
.pro-list-box{
    background: #fff;
    margin-top:10px;
    padding-left:0.2rem;

}
.pro-list-box h2{
    height: 0.84rem;
    line-height: 0.84rem;
    font-size: .34rem;
    color: #333;
    font-weight: normal;
    border-bottom:1px solid #DDD8CE;
}
.pro-list{
    padding:0.2rem 0;
    display: flex;
    border-bottom: 1px solid #DDD8CE;
}
.pro-list-img{
    width:1.8rem;
    height: 1.8rem;
    margin-right:0.2rem;
}
.pro-list-info{ 
    flex:1;
}
