<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            .red{
                color: red;
            }
        
        </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name" @keyup="filterFn()" >
        <button @click="add()">add</button>
        <ul>
            <li v-for="obj in list" @click="change(obj,index)" :class="{red:obj.isRed}">
                {{obj.name}}
                <button @click.stop="del(index)" >del</button></li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                list:[{
                    name:'aa',
                    isRed:false
                },
                {
                    name:'zs',
                    isRed:false
                }
                ],
                name:""
            },
            methods:{
                add(){
                    this.list.push({name:this.name,isRed:false});
                    // 添加后将input的value制空
                    this.name = "";
                },
           
            change(obj){
                obj.isRed=!obj.isRed;
            } ,
            del(index){
                this.list.splice(index,1)
            }
        }
        })
    
    
    
    </script>
</body>
</html>